@import url('https://fonts.googleapis.com/css?family=Lora|Teko:400,600&display=swap');

body {

    font-size: 1rem;
}

.hot-pink {
    background-color : #EA178C;
}

.hot-pink-text {

    color :  #EA178C;
}

.hot-green {

    background-color : #7FFF00;
}

.hot-pink-green {

    color :  #7FFF00;

}

.header-capstyle {

    text-transform: uppercase;
}


.banner-beg-style {

    // margin-top: 5rem;
    height: 30rem;
}

.great_title {

    font-size: 7rem;
    color: #EA178C;
}

a {
    
    transition: all 4.3s ease-out;
    transition-property: all;
    transition-duration: 6.8s;
    transition-timing-function: ease-out;
    transition-delay: initial;


}