@import url('https://fonts.googleapis.com/css?family=Lora|Teko:400,600&display=swap');

body {

    font-size: 1rem;
}

// font-family: 'Teko', sans-serif;
// font-family: 'Lora', serif;

.hot-pink {
    background-color : #EA178C;
}

.hot-pink-text {

    color :  #EA178C;
}

.hot-green {

    background-color : #7FFF00;
}

.hot-pink-green {

    color :  #7FFF00;

}

.header-capstyle {

    text-transform: uppercase;
    
}

.banner-beg-style {

    padding-top: 15rem;
    height: 40rem;

    .title-hero-space-bottom {

        
        margin-bottom: 4rem;
      }

      .title-hero-space-top {

        margin-top: 4rem;
        
      }

    .hero-card {

    border-bottom: solid 14px #7FFF00;
    border-top: solid 14px #7FFF00 ;
  
}

}

.great_title {

    font-size: 7rem;
    color: #EA178C;
    font-family: 'Teko', sans-serif;
    font-size: 10rem;
}

.button_outline {

    border: 1px solid #333333;
    border-radius: 0px;
    margin-top: 4rem;
}

a {
    
    transition: all 4.3s ease-out;
    transition-property: all;
    transition-duration: 6.8s;
    transition-timing-function: ease-out;
    transition-delay: initial;


}